
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

$headingwhite: #FFF;
$text_lemon: #16FF00;
$bcgyellow: #FFED00;
$textgrey: rgba(255, 255, 255, 0.75);

